h1 {
    font-family: Arial;
    font-size: 25pt;
    font-weight: normal;
    color: white;
}

h3 {
    font-family: Arial;
    font-size: 18pt;
    font-weight: normal;
    color: white;
    margin: 0 auto;
}

body {
    text-align: center;
    margin-top: 30px;
    background-color: #323642;
}

.outer {
    border-radius: 80px;
    margin: 0 auto 40px;
    width: 960px;
    height: 350px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url('https://media.discordapp.net/attachments/471031073556529171/690075075856039947/2020-03-19_08.51.38.png');
}

.container {
    float: left;
    -webkit-backdrop-filter: blur(7px);
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    margin: 54px 40px;
    width: 360px;
    border-radius: 25px;
    padding: 20px;
    height: 198px;
}

td input {
    font-family: Arial;
    font-size: 10pt;
    height: 35px;
    width: 60px;
    background: #323642;
    color: white;
    border: 1px solid #AAB6E5;
    border-radius: 3px;
    margin: 2px;
    font-size: 1.2em;
}

td.empty {
    width: 10px;
}

input.double_width {
    width: 125px;
}

input.double_height {
    height: 74px;
}

input.display {
    border: 1px solid #AAB6E5;
    margin-bottom: 4px;
    border-radius: 5px;
    width: 330px;
    padding: 2px;
    background: #323642;
    padding: 0 10px;
    font-size: 1.2em;
}

.record {
    border-left: 3px solid #AAB6E5;
    font-family: Arial;
    font-size: 1.2em;
    font-weight: normal;
    color: white;
    text-align: left;
    padding: 3px 6px;
    margin: 5px 0;
}